{% load i18n %}

{% block subject %}
{% trans "Password Reset" %}
{% endblock %}

{% block text_body %}
{% trans "You requested a password reset for your account." %}

{% trans "Please follow this link to set a new password:" %}
{{ protocol }}://{{ domain }}/{{ url }}

{% trans "Your username:" %} {{ user.get_username }}

{% trans "Thank you!" %}
{% endblock %}

{% block html_body %}
<div>
  <p>{% trans "You requested a password reset for your account." %}</p>
  
  <p>{% trans "Please follow this link to set a new password:" %}<br>
  <a href="{{ protocol }}://{{ domain }}/{{ url }}">{{ protocol }}://{{ domain }}/{{ url }}</a></p>
  
  <p>{% trans "Your username:" %} <strong>{{ user.get_username }}</strong></p>
  
  <p>{% trans "Thank you!" %}</p>
</div>
{% endblock %}