*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, #root, body {
  height: 100dvh;}




body {
  font-family: 'Arial', sans-serif;
  font-size: 16px;
  line-height: 1.5;
 
  
  
  

  
  
  /*Below code stops page becoming unresponive after shad dialog is closed */
  @apply bg-background text-foreground;
  pointer-events: auto !important; 
  }

  #root {
    
    overflow-x: hidden;
  }






#site-wrapper.dark {
  background-color: black; 
}

#topbarmenu > *:not(button):not(.no-slash)::after { 
  content: " /"; /* optional spacing */ 
  color: #aaa; /* optional styling */ }

.filepond--root,
.filepond--root .filepond--drop-label {
  
 
  border-radius: 15px;
  border: 1px solid black;
}



/* This creates grid for filepond upload, change image size by altering the percentage */
.filepond--item {
    width: calc(50% - 0.5em);
}

@media only screen and (max-width: 600px) {
    .filepond--item {
        width: calc(50% - 0.5em);
    }
}





.filepond--label-action {
  text-decoration: none;
  color: black;
  font-size: 18px !important;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
} 



.move-from-left {
  animation: slide-right 1s ease-in-out;
}

@keyframes slide-right {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1; 
  }
}


