*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  width: 100vw;
  margin: 0;
  display: flex;
  flex-direction: column; 
  min-height: 100vh; 
  
}

/* Ensures the root element takes full height of the body and flexes */
#root {
  display: flex;
  flex-direction: column;
  flex-grow: 1; /* Allow #root to grow and fill available space in body */
}

.filepond--root,
.filepond--root .filepond--drop-label {
  
 
  border-radius: 15px;
  border: 1px solid black;
}



/* This creates grid for filepond upload, change image size by altering the percentage */
.filepond--item {
    width: calc(50% - 0.5em);
}

@media only screen and (max-width: 600px) {
    .filepond--item {
        width: calc(50% - 0.5em);
    }
}





.filepond--label-action {
  text-decoration: none;
  color: black;
  font-size: 18px !important;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
} 