*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, #root {
  height: 100vh;
  background-color: white;
  display: flex;
  flex-direction: column;
}


body {
  font-family: 'Arial', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  width: 100vw;
}

